<div class="announcement-bar">
  <div class="page-width">
    <p>{{ section.settings.message }}</p>
  </div>
</div>

{% schema %}

{
    "name":"Announcement Bar",
    "settings": [
        {
            "type":"text",
            "id":"message",
            "label":"Message",
            "default": "Free shipping on order above 999!"
        }
    ]
}

{% endschema %}
