<div class="hero-section">
    <div class="page-width">
        <h2>{{ section.settings.title }}</h2>
        <p> {{ section.settings.subtitle }}</p>

        <button onclick="buttonUrl">{{ sections.settings.buttonLabel }}</button>
        </div>
</div>

{% schema %}




{% endschema %}